@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

a.active {
  border-bottom: 3px solid #eee;
}

.cards li {
  background-color: #8644a2;
  /* border-radius: 10px 5% / 20px 25em 30px 35em; */
  border-radius: 10px / 20px;
  color: #eee;
  width: 20rem;
  text-align: center;
  padding: 20px 0;
}
